body {
  font-size: 62.5%;
  font-family: "Lucida Grande", Verdana, sans-serif;
  background-color: #284b7e;
  background: url('images/background.jpg') repeat;
}

h2 {
  font-weight: normal;
}
/* http://colorschemedesigner.com/#3z329w0w0w0w0 */

/* panel background: #ffcb73 */
/* categ. background: #ffa100 */
/* cat. text: #0f4da8*/

.panel_container {
/*  margin-bottom: 20px;*/
}

.panel {
  color: #333333;
  background-color: #EAE3FF;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 10px;
  margin-bottom: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/*.tall_panel {
  height: 600px;
}

.mid_panel {
  height: 400px;
}

.short_panel {
  height: 250px;
}

.dwarf_panel {
  height: 150px;
}
*/
.category_header {
  font-family: "Palatino", Georgia, 'Times New Roman', serif;
  font-size: 1.5em;
  text-align: center;
/*  font-weight: bold;*/
  color: white;
  background-color: #fe5877;
  padding: 10px;
  margin: 0 0 20px 0;
  cursor: move;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.panel_text {

}

.panel ul {
  list-style-type: none;
  position: relative;
  left: -35px;
}

a {
  color: #FE5877;
  text-decoration: none;
}

a:hover {
  font-size: 1.1em;
  text-decoration: underline;
/*  background-color: #fe5877;*/
}

a:visited {
  text-decoration: italic;
}
/* layout */